# LIMPIEZA TABLAS ORIGEN

In [ ]:
import pandas as pd
import numpy as np

# Leer el archivo CSV (game)
df_game = pd.read_csv(r'C:\Users\PC\Documents\HENRY\MOD PROYECTO FINAL\base datos\csv\game.csv')

# Ver las primeras 5 filas
print(df_game.head())

   season_id  team_id_home team_abbreviation_home           team_name_home  \
0      21946    1610610035                    HUS          Toronto Huskies
1      21946    1610610034                    BOM        St. Louis Bombers
2      21946    1610610032                    PRO  Providence Steamrollers
3      21946    1610610025                    CHS            Chicago Stags
4      21946    1610610028                    DEF          Detroit Falcons

    game_id            game_date matchup_home wl_home  min  fgm_home  ...  \
0  24600001  1946-11-01 00:00:00  HUS vs. NYK       L    0      25.0  ...
1  24600003  1946-11-02 00:00:00  BOM vs. PIT       W    0      20.0  ...
2  24600002  1946-11-02 00:00:00  PRO vs. BOS       W    0      21.0  ...
3  24600004  1946-11-02 00:00:00  CHS vs. NYK       W    0      21.0  ...
4  24600005  1946-11-02 00:00:00  DEF vs. WAS       L    0      10.0  ...

   reb_away  ast_away  stl_away  blk_away  tov_away  pf_away  pts_away  \
0       NaN       NaN       NaN       NaN       NaN      NaN      68.0
1       NaN       NaN       NaN       NaN       NaN     25.0      51.0
2       NaN       NaN       NaN       NaN       NaN      NaN      53.0
3       NaN       NaN       NaN       NaN       NaN     22.0      47.0
4       NaN       NaN       NaN       NaN       NaN      NaN      50.0

   plus_minus_away  video_available_away     season_type
0                2                     0  Regular Season
1               -5                     0  Regular Season
2               -6                     0  Regular Season
3              -16                     0  Regular Season
4               17                     0  Regular Season

[5 rows x 55 columns]

In [3]:
 # Limpiar los nombres de columnas
 
df_game.columns = df_game.columns.str.strip().str.lower().str.replace(' ', '_')
print(df_game.columns)

Index(['season_id', 'team_id_home', 'team_abbreviation_home', 'team_name_home',
       'game_id', 'game_date', 'matchup_home', 'wl_home', 'min', 'fgm_home',
       'fga_home', 'fg_pct_home', 'fg3m_home', 'fg3a_home', 'fg3_pct_home',
       'ftm_home', 'fta_home', 'ft_pct_home', 'oreb_home', 'dreb_home',
       'reb_home', 'ast_home', 'stl_home', 'blk_home', 'tov_home', 'pf_home',
       'pts_home', 'plus_minus_home', 'video_available_home', 'team_id_away',
       'team_abbreviation_away', 'team_name_away', 'matchup_away', 'wl_away',
       'fgm_away', 'fga_away', 'fg_pct_away', 'fg3m_away', 'fg3a_away',
       'fg3_pct_away', 'ftm_away', 'fta_away', 'ft_pct_away', 'oreb_away',
       'dreb_away', 'reb_away', 'ast_away', 'stl_away', 'blk_away', 'tov_away',
       'pf_away', 'pts_away', 'plus_minus_away', 'video_available_away',
       'season_type'],
      dtype='object')

In [4]:
#Ver si hay valores faltantes

print(df_game.isnull().sum())

season_id                     0
team_id_home                  0
team_abbreviation_home        0
team_name_home                0
game_id                       0
game_date                     0
matchup_home                  0
wl_home                       2
min                           0
fgm_home                     13
fga_home                  15447
fg_pct_home               15490
fg3m_home                 13218
fg3a_home                 18683
fg3_pct_home              19074
ftm_home                     16
fta_home                   3004
ft_pct_home                3009
oreb_home                 18936
dreb_home                 18999
reb_home                  15729
ast_home                  15805
stl_home                  18849
blk_home                  18626
tov_home                  18684
pf_home                    2856
pts_home                      0
plus_minus_home               0
video_available_home          0
team_id_away                  0
team_abbreviation_away        0
team_name_away                0
matchup_away                  0
wl_away                       2
fgm_away                     13
fga_away                  15447
fg_pct_away               15489
fg3m_away                 13218
fg3a_away                 18683
fg3_pct_away              18962
ftm_away                     13
fta_away                   3004
ft_pct_away                3006
oreb_away                 18936
dreb_away                 18998
reb_away                  15725
ast_away                  15801
stl_away                  18849
blk_away                  18625
tov_away                  18685
pf_away                    2851
pts_away                      0
plus_minus_away               0
video_available_away          0
season_type                   0
dtype: int64

In [9]:
print(df_game.dtypes)

season_id                          int64
team_id_home                       Int64
team_abbreviation_home            object
team_name_home                    object
game_id                            int64
game_date                 datetime64[ns]
matchup_home                      object
wl_home                           object
min                                int64
fgm_home                         float64
fga_home                         float64
fg_pct_home                      float64
fg3m_home                        float64
fg3a_home                        float64
fg3_pct_home                     float64
ftm_home                         float64
fta_home                         float64
ft_pct_home                      float64
oreb_home                        float64
dreb_home                        float64
reb_home                         float64
ast_home                         float64
stl_home                         float64
blk_home                         float64
tov_home                         float64
pf_home                          float64
pts_home                         float64
plus_minus_home                    int64
video_available_home               int64
team_id_away                       Int64
team_abbreviation_away            object
team_name_away                    object
matchup_away                      object
wl_away                           object
fgm_away                         float64
fga_away                         float64
fg_pct_away                      float64
fg3m_away                        float64
fg3a_away                        float64
fg3_pct_away                     float64
ftm_away                         float64
fta_away                         float64
ft_pct_away                      float64
oreb_away                        float64
dreb_away                        float64
reb_away                         float64
ast_away                         float64
stl_away                         float64
blk_away                         float64
tov_away                         float64
pf_away                          float64
pts_away                         float64
plus_minus_away                    int64
video_available_away               int64
season_type                       object
dtype: object

In [8]:
# Convertir columnas clave al tipo correcto

df_game['game_date'] = pd.to_datetime(df_game['game_date'])

df_game['team_id_home'] = df_game['team_id_home'].astype('Int64')
df_game['team_id_away'] = df_game['team_id_away'].astype('Int64')

print(df_game.dtypes)

season_id                          int64
team_id_home                       Int64
team_abbreviation_home            object
team_name_home                    object
game_id                            int64
game_date                 datetime64[ns]
matchup_home                      object
wl_home                           object
min                                int64
fgm_home                         float64
fga_home                         float64
fg_pct_home                      float64
fg3m_home                        float64
fg3a_home                        float64
fg3_pct_home                     float64
ftm_home                         float64
fta_home                         float64
ft_pct_home                      float64
oreb_home                        float64
dreb_home                        float64
reb_home                         float64
ast_home                         float64
stl_home                         float64
blk_home                         float64
tov_home                         float64
pf_home                          float64
pts_home                         float64
plus_minus_home                    int64
video_available_home               int64
team_id_away                       Int64
team_abbreviation_away            object
team_name_away                    object
matchup_away                      object
wl_away                           object
fgm_away                         float64
fga_away                         float64
fg_pct_away                      float64
fg3m_away                        float64
fg3a_away                        float64
fg3_pct_away                     float64
ftm_away                         float64
fta_away                         float64
ft_pct_away                      float64
oreb_away                        float64
dreb_away                        float64
reb_away                         float64
ast_away                         float64
stl_away                         float64
blk_away                         float64
tov_away                         float64
pf_away                          float64
pts_away                         float64
plus_minus_away                    int64
video_available_away               int64
season_type                       object
dtype: object

In [10]:
# Ver las primeras 5 filas
print(df_game.head())

   season_id  team_id_home team_abbreviation_home           team_name_home  \
0      21946    1610610035                    HUS          Toronto Huskies
1      21946    1610610034                    BOM        St. Louis Bombers
2      21946    1610610032                    PRO  Providence Steamrollers
3      21946    1610610025                    CHS            Chicago Stags
4      21946    1610610028                    DEF          Detroit Falcons

    game_id  game_date matchup_home wl_home  min  fgm_home  ...  reb_away  \
0  24600001 1946-11-01  HUS vs. NYK       L    0      25.0  ...       NaN
1  24600003 1946-11-02  BOM vs. PIT       W    0      20.0  ...       NaN
2  24600002 1946-11-02  PRO vs. BOS       W    0      21.0  ...       NaN
3  24600004 1946-11-02  CHS vs. NYK       W    0      21.0  ...       NaN
4  24600005 1946-11-02  DEF vs. WAS       L    0      10.0  ...       NaN

   ast_away  stl_away  blk_away  tov_away  pf_away  pts_away  plus_minus_away  \
0       NaN       NaN       NaN       NaN      NaN      68.0                2
1       NaN       NaN       NaN       NaN     25.0      51.0               -5
2       NaN       NaN       NaN       NaN      NaN      53.0               -6
3       NaN       NaN       NaN       NaN     22.0      47.0              -16
4       NaN       NaN       NaN       NaN      NaN      50.0               17

   video_available_away     season_type
0                     0  Regular Season
1                     0  Regular Season
2                     0  Regular Season
3                     0  Regular Season
4                     0  Regular Season

[5 rows x 55 columns]

In [11]:
# 2. Verificación de duplicados
duplicados = df_game.duplicated()
print(f'Filas duplicadas: {duplicados.sum()}')

Filas duplicadas: 0

In [12]:
#Ver porcentaje de valores faltantes por columna

porcentaje_nulos = (df_game.isnull().mean() * 100).round(2)
print(porcentaje_nulos)

season_id                  0.00
team_id_home               0.00
team_abbreviation_home     0.00
team_name_home             0.00
game_id                    0.00
game_date                  0.00
matchup_home               0.00
wl_home                    0.00
min                        0.00
fgm_home                   0.02
fga_home                  23.51
fg_pct_home               23.58
fg3m_home                 20.12
fg3a_home                 28.44
fg3_pct_home              29.03
ftm_home                   0.02
fta_home                   4.57
ft_pct_home                4.58
oreb_home                 28.82
dreb_home                 28.92
reb_home                  23.94
ast_home                  24.06
stl_home                  28.69
blk_home                  28.35
tov_home                  28.44
pf_home                    4.35
pts_home                   0.00
plus_minus_home            0.00
video_available_home       0.00
team_id_away               0.00
team_abbreviation_away     0.00
team_name_away             0.00
matchup_away               0.00
wl_away                    0.00
fgm_away                   0.02
fga_away                  23.51
fg_pct_away               23.58
fg3m_away                 20.12
fg3a_away                 28.44
fg3_pct_away              28.86
ftm_away                   0.02
fta_away                   4.57
ft_pct_away                4.58
oreb_away                 28.82
dreb_away                 28.92
reb_away                  23.94
ast_away                  24.05
stl_away                  28.69
blk_away                  28.35
tov_away                  28.44
pf_away                    4.34
pts_away                   0.00
plus_minus_away            0.00
video_available_away       0.00
season_type                0.00
dtype: float64

In [13]:
#Ver solo las columnas que tienen valores faltantes

faltantes = df_game.isnull().sum()
faltantes = faltantes[faltantes > 0]
print(faltantes)

wl_home             2
fgm_home           13
fga_home        15447
fg_pct_home     15490
fg3m_home       13218
fg3a_home       18683
fg3_pct_home    19074
ftm_home           16
fta_home         3004
ft_pct_home      3009
oreb_home       18936
dreb_home       18999
reb_home        15729
ast_home        15805
stl_home        18849
blk_home        18626
tov_home        18684
pf_home          2856
wl_away             2
fgm_away           13
fga_away        15447
fg_pct_away     15489
fg3m_away       13218
fg3a_away       18683
fg3_pct_away    18962
ftm_away           13
fta_away         3004
ft_pct_away      3006
oreb_away       18936
dreb_away       18998
reb_away        15725
ast_away        15801
stl_away        18849
blk_away        18625
tov_away        18685
pf_away          2851
dtype: int64

In [14]:
#Manejo de valores faltantes por columna

# Lista de columnas de resultado ('W' o 'L'), tipo texto
columnas_resultado = ['wl_home', 'wl_away']

# Lista de columnas numéricas (estadísticas)
columnas_numericas = [
    'fgm_home', 'fga_home', 'fg_pct_home', 'fg3m_home', 'fg3a_home', 'fg3_pct_home',
    'ftm_home', 'fta_home', 'ft_pct_home', 'oreb_home', 'dreb_home', 'reb_home',
    'ast_home', 'stl_home', 'blk_home', 'tov_home', 'pf_home',
    
    'fgm_away', 'fga_away', 'fg_pct_away', 'fg3m_away', 'fg3a_away', 'fg3_pct_away',
    'ftm_away', 'fta_away', 'ft_pct_away', 'oreb_away', 'dreb_away', 'reb_away',
    'ast_away', 'stl_away', 'blk_away', 'tov_away', 'pf_away'
]

# 1. Rellenar columnas de texto con 'Unknown'
for col in columnas_resultado:
    if col in df_game.columns:
        df_game[col] = df_game[col].fillna('Unknown')

# 2. Rellenar columnas numéricas con 0
for col in columnas_numericas:
    if col in df_game.columns:
        df_game[col] = df_game[col].fillna(0)

# 3. Verificación final
print("Valores faltantes restantes después del tratamiento:")
print(df_game[columnas_resultado + columnas_numericas].isnull().sum())

Valores faltantes restantes después del tratamiento:
wl_home         0
wl_away         0
fgm_home        0
fga_home        0
fg_pct_home     0
fg3m_home       0
fg3a_home       0
fg3_pct_home    0
ftm_home        0
fta_home        0
ft_pct_home     0
oreb_home       0
dreb_home       0
reb_home        0
ast_home        0
stl_home        0
blk_home        0
tov_home        0
pf_home         0
fgm_away        0
fga_away        0
fg_pct_away     0
fg3m_away       0
fg3a_away       0
fg3_pct_away    0
ftm_away        0
fta_away        0
ft_pct_away     0
oreb_away       0
dreb_away       0
reb_away        0
ast_away        0
stl_away        0
blk_away        0
tov_away        0
pf_away         0
dtype: int64

In [16]:
# Ver las primeras 5 filas
print(df_game.head())

   season_id  team_id_home team_abbreviation_home           team_name_home  \
0      21946    1610610035                    HUS          Toronto Huskies
1      21946    1610610034                    BOM        St. Louis Bombers
2      21946    1610610032                    PRO  Providence Steamrollers
3      21946    1610610025                    CHS            Chicago Stags
4      21946    1610610028                    DEF          Detroit Falcons

    game_id  game_date matchup_home wl_home  min  fgm_home  ...  reb_away  \
0  24600001 1946-11-01  HUS vs. NYK       L    0      25.0  ...       0.0
1  24600003 1946-11-02  BOM vs. PIT       W    0      20.0  ...       0.0
2  24600002 1946-11-02  PRO vs. BOS       W    0      21.0  ...       0.0
3  24600004 1946-11-02  CHS vs. NYK       W    0      21.0  ...       0.0
4  24600005 1946-11-02  DEF vs. WAS       L    0      10.0  ...       0.0

   ast_away  stl_away  blk_away  tov_away  pf_away  pts_away  plus_minus_away  \
0       0.0       0.0       0.0       0.0      0.0      68.0                2
1       0.0       0.0       0.0       0.0     25.0      51.0               -5
2       0.0       0.0       0.0       0.0      0.0      53.0               -6
3       0.0       0.0       0.0       0.0     22.0      47.0              -16
4       0.0       0.0       0.0       0.0      0.0      50.0               17

   video_available_away     season_type
0                     0  Regular Season
1                     0  Regular Season
2                     0  Regular Season
3                     0  Regular Season
4                     0  Regular Season

[5 rows x 55 columns]

In [17]:
# Leer el archivo CSV (game_summary)
df_game_summary = pd.read_csv(r'C:\Users\PC\Documents\HENRY\MOD PROYECTO FINAL\base datos\csv\game_summary.csv')

# Ver las primeras 5 filas
print(df_game_summary.head())

         game_date_est  game_sequence   game_id  game_status_id  \
0  1946-11-01 00:00:00            NaN  24600001               3
1  1946-11-02 00:00:00            NaN  24600003               3
2  1946-11-02 00:00:00            NaN  24600002               3
3  1946-11-02 00:00:00            NaN  24600004               3
4  1946-11-02 00:00:00            NaN  24600005               3

  game_status_text         gamecode  home_team_id  visitor_team_id  season  \
0              NaN  19461101/NYKHUS    1610610035       1610612752    1946
1              NaN  19461102/PITBOM    1610610034       1610610031    1946
2              NaN  19461102/BOSPRO    1610610032       1610612738    1946
3              NaN  19461102/NYKCHS    1610610025       1610612752    1946
4              NaN  19461102/WASDEF    1610610028       1610610036    1946

   live_period live_pc_time natl_tv_broadcaster_abbreviation  \
0            5          NaN                              NaN
1            4          NaN                              NaN
2            4          NaN                              NaN
3            4          NaN                              NaN
4            4          NaN                              NaN

  live_period_time_bcast  wh_status
0                 Q5  -           1
1                 Q4  -           1
2                 Q4  -           1
3                 Q4  -           1
4                 Q4  -           1

In [18]:
#Limpiar los nombres de columnas

df_game_summary.columns = df_game_summary.columns.str.strip().str.lower().str.replace(' ', '_')
print(df_game_summary.columns)

Index(['game_date_est', 'game_sequence', 'game_id', 'game_status_id',
       'game_status_text', 'gamecode', 'home_team_id', 'visitor_team_id',
       'season', 'live_period', 'live_pc_time',
       'natl_tv_broadcaster_abbreviation', 'live_period_time_bcast',
       'wh_status'],
      dtype='object')

In [19]:
#  Ver si hay valores faltantes

print(df_game_summary.isnull().sum())

game_date_est                           0
game_sequence                       25532
game_id                                 0
game_status_id                          0
game_status_text                    25986
gamecode                                0
home_team_id                            0
visitor_team_id                         0
season                                  0
live_period                             0
live_pc_time                        56086
natl_tv_broadcaster_abbreviation    51907
live_period_time_bcast                  0
wh_status                               0
dtype: int64

In [21]:
print(df_game_summary.dtypes)

game_date_est                        object
game_sequence                       float64
game_id                               int64
game_status_id                        int64
game_status_text                     object
gamecode                             object
home_team_id                          int64
visitor_team_id                       int64
season                                int64
live_period                           int64
live_pc_time                         object
natl_tv_broadcaster_abbreviation     object
live_period_time_bcast               object
wh_status                             int64
dtype: object

In [22]:
#Convertir columnas clave al tipo correcto

df_game_summary['game_date_est'] = pd.to_datetime(df_game_summary['game_date_est'])

df_game_summary['home_team_id'] = df_game_summary['home_team_id'].astype('Int64')
df_game_summary['visitor_team_id'] = df_game_summary['visitor_team_id'].astype('Int64')

In [23]:
# Ver las primeras 5 filas
print(df_game_summary.head())

  game_date_est  game_sequence   game_id  game_status_id game_status_text  \
0    1946-11-01            NaN  24600001               3              NaN
1    1946-11-02            NaN  24600003               3              NaN
2    1946-11-02            NaN  24600002               3              NaN
3    1946-11-02            NaN  24600004               3              NaN
4    1946-11-02            NaN  24600005               3              NaN

          gamecode  home_team_id  visitor_team_id  season  live_period  \
0  19461101/NYKHUS    1610610035       1610612752    1946            5
1  19461102/PITBOM    1610610034       1610610031    1946            4
2  19461102/BOSPRO    1610610032       1610612738    1946            4
3  19461102/NYKCHS    1610610025       1610612752    1946            4
4  19461102/WASDEF    1610610028       1610610036    1946            4

  live_pc_time natl_tv_broadcaster_abbreviation live_period_time_bcast  \
0          NaN                              NaN                 Q5  -
1          NaN                              NaN                 Q4  -
2          NaN                              NaN                 Q4  -
3          NaN                              NaN                 Q4  -
4          NaN                              NaN                 Q4  -

   wh_status
0          1
1          1
2          1
3          1
4          1

In [24]:
# Verificación de duplicados
duplicados = df_game_summary.duplicated()
print(f'Filas duplicadas: {duplicados.sum()}')

Filas duplicadas: 40

In [25]:
# Ver si hay duplicados por columna clave (ej: game_id)
duplicados_game_id = df_game_summary.duplicated(subset='game_id')
print(f"Duplicados por game_id: {duplicados_game_id.sum()}")

Duplicados por game_id: 89

In [26]:
# Eliminar duplicados exactos en todas las columnas
df_game_summary = df_game_summary.drop_duplicates()

In [27]:
print("Después de eliminar duplicados:")
print(df_game_summary.duplicated().sum())

Después de eliminar duplicados:
0

In [28]:
# Ver las primeras 5 filas
print(df_game_summary.head())

  game_date_est  game_sequence   game_id  game_status_id game_status_text  \
0    1946-11-01            NaN  24600001               3              NaN
1    1946-11-02            NaN  24600003               3              NaN
2    1946-11-02            NaN  24600002               3              NaN
3    1946-11-02            NaN  24600004               3              NaN
4    1946-11-02            NaN  24600005               3              NaN

          gamecode  home_team_id  visitor_team_id  season  live_period  \
0  19461101/NYKHUS    1610610035       1610612752    1946            5
1  19461102/PITBOM    1610610034       1610610031    1946            4
2  19461102/BOSPRO    1610610032       1610612738    1946            4
3  19461102/NYKCHS    1610610025       1610612752    1946            4
4  19461102/WASDEF    1610610028       1610610036    1946            4

  live_pc_time natl_tv_broadcaster_abbreviation live_period_time_bcast  \
0          NaN                              NaN                 Q5  -
1          NaN                              NaN                 Q4  -
2          NaN                              NaN                 Q4  -
3          NaN                              NaN                 Q4  -
4          NaN                              NaN                 Q4  -

   wh_status
0          1
1          1
2          1
3          1
4          1

In [29]:
#Ver porcentaje de valores faltantes por columna
porcentaje_nulos = (df_game_summary.isnull().mean() * 100).round(2)
print(porcentaje_nulos)

game_date_est                        0.00
game_sequence                       43.97
game_id                              0.00
game_status_id                       0.00
game_status_text                    44.75
gamecode                             0.00
home_team_id                         0.00
visitor_team_id                      0.00
season                               0.00
live_period                          0.00
live_pc_time                        96.52
natl_tv_broadcaster_abbreviation    89.34
live_period_time_bcast               0.00
wh_status                            0.00
dtype: float64

In [30]:
#Ver solo las columnas que tienen valores faltantes

faltantes = df_game_summary.isnull().sum()
faltantes = faltantes[faltantes > 0]
print(faltantes)

game_sequence                       25532
game_status_text                    25986
live_pc_time                        56047
natl_tv_broadcaster_abbreviation    51878
dtype: int64

In [31]:
#tratamiento de valores faltantes

# 1. game_sequence → numérico, puede usarse -1 para indicar "desconocido"
if 'game_sequence' in df_game_summary.columns:
    df_game_summary['game_sequence'] = df_game_summary['game_sequence'].fillna(-1)

# 2. game_status_text → texto: "Desconocido"
if 'game_status_text' in df_game_summary.columns:
    df_game_summary['game_status_text'] = df_game_summary['game_status_text'].fillna('Desconocido')

# 3. live_pc_time → texto: "00:00" o "No disponible"
if 'live_pc_time' in df_game_summary.columns:
    df_game_summary['live_pc_time'] = df_game_summary['live_pc_time'].fillna('00:00')

# 4. natl_tv_broadcaster_abbreviation → texto: "Sin TV"
if 'natl_tv_broadcaster_abbreviation' in df_game_summary.columns:
    df_game_summary['natl_tv_broadcaster_abbreviation'] = df_game_summary['natl_tv_broadcaster_abbreviation'].fillna('Sin TV')

# ✅ Verificamos que se haya hecho correctamente
print("Valores faltantes restantes (esperamos todos en 0):")
print(df_game_summary[['game_sequence', 'game_status_text', 'live_pc_time', 'natl_tv_broadcaster_abbreviation']].isnull().sum())

Valores faltantes restantes (esperamos todos en 0):
game_sequence                       0
game_status_text                    0
live_pc_time                        0
natl_tv_broadcaster_abbreviation    0
dtype: int64

In [32]:
# Ver las primeras 5 filas
print(df_game_summary.head())

  game_date_est  game_sequence   game_id  game_status_id game_status_text  \
0    1946-11-01           -1.0  24600001               3      Desconocido
1    1946-11-02           -1.0  24600003               3      Desconocido
2    1946-11-02           -1.0  24600002               3      Desconocido
3    1946-11-02           -1.0  24600004               3      Desconocido
4    1946-11-02           -1.0  24600005               3      Desconocido

          gamecode  home_team_id  visitor_team_id  season  live_period  \
0  19461101/NYKHUS    1610610035       1610612752    1946            5
1  19461102/PITBOM    1610610034       1610610031    1946            4
2  19461102/BOSPRO    1610610032       1610612738    1946            4
3  19461102/NYKCHS    1610610025       1610612752    1946            4
4  19461102/WASDEF    1610610028       1610610036    1946            4

  live_pc_time natl_tv_broadcaster_abbreviation live_period_time_bcast  \
0        00:00                           Sin TV                 Q5  -
1        00:00                           Sin TV                 Q4  -
2        00:00                           Sin TV                 Q4  -
3        00:00                           Sin TV                 Q4  -
4        00:00                           Sin TV                 Q4  -

   wh_status
0          1
1          1
2          1
3          1
4          1

In [33]:
# Leer el archivo CSV line_score
df_line_score = pd.read_csv(r'C:\Users\PC\Documents\HENRY\MOD PROYECTO FINAL\base datos\csv\line_score.csv')

# Ver las primeras 5 filas
print(df_line_score.head())

         game_date_est  game_sequence   game_id  team_id_home  \
0  1946-11-01 00:00:00            NaN  24600001    1610610035
1  1946-11-02 00:00:00            NaN  24600003    1610610034
2  1946-11-02 00:00:00            NaN  24600002    1610612738
3  1946-11-02 00:00:00            NaN  24600004    1610610025
4  1946-11-02 00:00:00            NaN  24600005    1610610036

  team_abbreviation_home team_city_name_home team_nickname_home  \
0                    HUS             Toronto            Huskies
1                    BOM           St. Louis            Bombers
2                    BOS              Boston            Celtics
3                    CHS             Chicago              Stags
4                    WAS          Washington           Capitols

  team_wins_losses_home  pts_qtr1_home  pts_qtr2_home  ...  pts_ot2_away  \
0                     -            NaN            NaN  ...           NaN
1                     -           16.0           16.0  ...           NaN
2                     -           10.0           16.0  ...           NaN
3                     -            NaN            NaN  ...           NaN
4                     -           21.0            4.0  ...           NaN

   pts_ot3_away  pts_ot4_away  pts_ot5_away  pts_ot6_away  pts_ot7_away  \
0           NaN           NaN           NaN           NaN           NaN
1           NaN           NaN           NaN           NaN           NaN
2           NaN           NaN           NaN           NaN           NaN
3           NaN           NaN           NaN           NaN           NaN
4           NaN           NaN           NaN           NaN           NaN

   pts_ot8_away  pts_ot9_away  pts_ot10_away  pts_away
0           NaN           NaN            NaN      68.0
1           NaN           NaN            NaN      51.0
2           NaN           NaN            NaN      59.0
3           NaN           NaN            NaN      47.0
4           NaN           NaN            NaN      33.0

[5 rows x 43 columns]

In [34]:
# Limpiar los nombres de columnas

df_line_score.columns = df_line_score.columns.str.strip().str.lower().str.replace(' ', '_')
print(df_line_score.columns)

Index(['game_date_est', 'game_sequence', 'game_id', 'team_id_home',
       'team_abbreviation_home', 'team_city_name_home', 'team_nickname_home',
       'team_wins_losses_home', 'pts_qtr1_home', 'pts_qtr2_home',
       'pts_qtr3_home', 'pts_qtr4_home', 'pts_ot1_home', 'pts_ot2_home',
       'pts_ot3_home', 'pts_ot4_home', 'pts_ot5_home', 'pts_ot6_home',
       'pts_ot7_home', 'pts_ot8_home', 'pts_ot9_home', 'pts_ot10_home',
       'pts_home', 'team_id_away', 'team_abbreviation_away',
       'team_city_name_away', 'team_nickname_away', 'team_wins_losses_away',
       'pts_qtr1_away', 'pts_qtr2_away', 'pts_qtr3_away', 'pts_qtr4_away',
       'pts_ot1_away', 'pts_ot2_away', 'pts_ot3_away', 'pts_ot4_away',
       'pts_ot5_away', 'pts_ot6_away', 'pts_ot7_away', 'pts_ot8_away',
       'pts_ot9_away', 'pts_ot10_away', 'pts_away'],
      dtype='object')

In [35]:
#Ver si hay valores faltantes

print(df_line_score.isnull().sum())

game_date_est                 0
game_sequence             25532
game_id                       0
team_id_home                  0
team_abbreviation_home        0
team_city_name_home           0
team_nickname_home            0
team_wins_losses_home         0
pts_qtr1_home              1004
pts_qtr2_home              1013
pts_qtr3_home              1045
pts_qtr4_home              1044
pts_ot1_home              25759
pts_ot2_home              27051
pts_ot3_home              27243
pts_ot4_home              27270
pts_ot5_home              45577
pts_ot6_home              45578
pts_ot7_home              45578
pts_ot8_home              45578
pts_ot9_home              45578
pts_ot10_home             45578
pts_home                      0
team_id_away                  0
team_abbreviation_away        0
team_city_name_away           0
team_nickname_away            0
team_wins_losses_away         0
pts_qtr1_away              1010
pts_qtr2_away              1013
pts_qtr3_away              1046
pts_qtr4_away              1046
pts_ot1_away              25759
pts_ot2_away              27051
pts_ot3_away              27243
pts_ot4_away              27270
pts_ot5_away              45577
pts_ot6_away              45578
pts_ot7_away              45578
pts_ot8_away              45578
pts_ot9_away              45578
pts_ot10_away             45578
pts_away                      0
dtype: int64

In [36]:
print(df_line_score.dtypes)

game_date_est              object
game_sequence             float64
game_id                     int64
team_id_home                int64
team_abbreviation_home     object
team_city_name_home        object
team_nickname_home         object
team_wins_losses_home      object
pts_qtr1_home             float64
pts_qtr2_home             float64
pts_qtr3_home             float64
pts_qtr4_home             float64
pts_ot1_home              float64
pts_ot2_home              float64
pts_ot3_home              float64
pts_ot4_home              float64
pts_ot5_home              float64
pts_ot6_home              float64
pts_ot7_home              float64
pts_ot8_home              float64
pts_ot9_home              float64
pts_ot10_home             float64
pts_home                  float64
team_id_away                int64
team_abbreviation_away     object
team_city_name_away        object
team_nickname_away         object
team_wins_losses_away      object
pts_qtr1_away             float64
pts_qtr2_away             float64
pts_qtr3_away             float64
pts_qtr4_away             float64
pts_ot1_away              float64
pts_ot2_away              float64
pts_ot3_away              float64
pts_ot4_away              float64
pts_ot5_away              float64
pts_ot6_away              float64
pts_ot7_away              float64
pts_ot8_away              float64
pts_ot9_away              float64
pts_ot10_away             float64
pts_away                  float64
dtype: object

In [37]:
#Convertir columnas clave al tipo correcto

df_line_score['game_date_est'] = pd.to_datetime(df_line_score['game_date_est'])

df_line_score['team_id_home'] = df_line_score['team_id_home'].astype('Int64')

In [38]:
# Ver las primeras 5 filas
print(df_line_score.head())

  game_date_est  game_sequence   game_id  team_id_home team_abbreviation_home  \
0    1946-11-01            NaN  24600001    1610610035                    HUS
1    1946-11-02            NaN  24600003    1610610034                    BOM
2    1946-11-02            NaN  24600002    1610612738                    BOS
3    1946-11-02            NaN  24600004    1610610025                    CHS
4    1946-11-02            NaN  24600005    1610610036                    WAS

  team_city_name_home team_nickname_home team_wins_losses_home  pts_qtr1_home  \
0             Toronto            Huskies                     -            NaN
1           St. Louis            Bombers                     -           16.0
2              Boston            Celtics                     -           10.0
3             Chicago              Stags                     -            NaN
4          Washington           Capitols                     -           21.0

   pts_qtr2_home  ...  pts_ot2_away  pts_ot3_away  pts_ot4_away  pts_ot5_away  \
0            NaN  ...           NaN           NaN           NaN           NaN
1           16.0  ...           NaN           NaN           NaN           NaN
2           16.0  ...           NaN           NaN           NaN           NaN
3            NaN  ...           NaN           NaN           NaN           NaN
4            4.0  ...           NaN           NaN           NaN           NaN

   pts_ot6_away  pts_ot7_away  pts_ot8_away  pts_ot9_away  pts_ot10_away  \
0           NaN           NaN           NaN           NaN            NaN
1           NaN           NaN           NaN           NaN            NaN
2           NaN           NaN           NaN           NaN            NaN
3           NaN           NaN           NaN           NaN            NaN
4           NaN           NaN           NaN           NaN            NaN

   pts_away
0      68.0
1      51.0
2      59.0
3      47.0
4      33.0

[5 rows x 43 columns]

In [39]:
# Verificación de duplicados

duplicados = df_line_score.duplicated()
print(f'Filas duplicadas: {duplicados.sum()}')

Filas duplicadas: 40

In [40]:
# Ver si hay duplicados por columna clave (ej: game_id)

duplicados_game_id = df_line_score.duplicated(subset='game_id')
print(f"Duplicados por game_id: {duplicados_game_id.sum()}")

Duplicados por game_id: 40

In [41]:
# Eliminar duplicados exactos en todas las columnas

df_line_score = df_line_score.drop_duplicates()

In [42]:
print("Después de eliminar duplicados:")
print(df_line_score.duplicated().sum())

Después de eliminar duplicados:
0

In [43]:
#Ver porcentaje de valores faltantes por columna

porcentaje_nulos = (df_line_score.isnull().mean() * 100).round(2)
print(porcentaje_nulos)

game_date_est              0.00
game_sequence             44.01
game_id                    0.00
team_id_home               0.00
team_abbreviation_home     0.00
team_city_name_home        0.00
team_nickname_home         0.00
team_wins_losses_home      0.00
pts_qtr1_home              1.73
pts_qtr2_home              1.75
pts_qtr3_home              1.80
pts_qtr4_home              1.80
pts_ot1_home              44.40
pts_ot2_home              46.58
pts_ot3_home              46.91
pts_ot4_home              46.96
pts_ot5_home              78.51
pts_ot6_home              78.51
pts_ot7_home              78.51
pts_ot8_home              78.51
pts_ot9_home              78.51
pts_ot10_home             78.51
pts_home                   0.00
team_id_away               0.00
team_abbreviation_away     0.00
team_city_name_away        0.00
team_nickname_away         0.00
team_wins_losses_away      0.00
pts_qtr1_away              1.74
pts_qtr2_away              1.75
pts_qtr3_away              1.80
pts_qtr4_away              1.80
pts_ot1_away              44.40
pts_ot2_away              46.58
pts_ot3_away              46.91
pts_ot4_away              46.96
pts_ot5_away              78.51
pts_ot6_away              78.51
pts_ot7_away              78.51
pts_ot8_away              78.51
pts_ot9_away              78.51
pts_ot10_away             78.51
pts_away                   0.00
dtype: float64

In [44]:
#Ver solo las columnas que tienen valores faltantes

faltantes = df_line_score.isnull().sum()
faltantes = faltantes[faltantes > 0]
print(faltantes)

game_sequence    25532
pts_qtr1_home     1004
pts_qtr2_home     1013
pts_qtr3_home     1045
pts_qtr4_home     1044
pts_ot1_home     25759
pts_ot2_home     27024
pts_ot3_home     27216
pts_ot4_home     27243
pts_ot5_home     45545
pts_ot6_home     45546
pts_ot7_home     45546
pts_ot8_home     45546
pts_ot9_home     45546
pts_ot10_home    45546
pts_qtr1_away     1010
pts_qtr2_away     1013
pts_qtr3_away     1046
pts_qtr4_away     1046
pts_ot1_away     25759
pts_ot2_away     27024
pts_ot3_away     27216
pts_ot4_away     27243
pts_ot5_away     45545
pts_ot6_away     45546
pts_ot7_away     45546
pts_ot8_away     45546
pts_ot9_away     45546
pts_ot10_away    45546
dtype: int64

In [45]:
#tratamiento de valores faltantes

# Tratamiento de valores faltantes en game_sequence
if 'game_sequence' in df_line_score.columns:
    df_line_score['game_sequence'] = df_line_score['game_sequence'].fillna(-1).astype('Int64')

# Lista de columnas de puntos por cuarto y overtime (home y away)
columnas_puntos = [
    'pts_qtr1_home', 'pts_qtr2_home', 'pts_qtr3_home', 'pts_qtr4_home',
    'pts_ot1_home', 'pts_ot2_home', 'pts_ot3_home', 'pts_ot4_home', 'pts_ot5_home',
    'pts_ot6_home', 'pts_ot7_home', 'pts_ot8_home', 'pts_ot9_home', 'pts_ot10_home',
    'pts_qtr1_away', 'pts_qtr2_away', 'pts_qtr3_away', 'pts_qtr4_away',
    'pts_ot1_away', 'pts_ot2_away', 'pts_ot3_away', 'pts_ot4_away', 'pts_ot5_away',
    'pts_ot6_away', 'pts_ot7_away', 'pts_ot8_away', 'pts_ot9_away', 'pts_ot10_away'
]

# Rellenar valores faltantes con 0 para puntos y convertir a enteros
for col in columnas_puntos:
    if col in df_line_score.columns:
        df_line_score[col] = df_line_score[col].fillna(0).astype('Int64')

# Verificación final: mostrar si quedan nulos
print("Valores faltantes restantes:")
print(df_line_score[['game_sequence'] + columnas_puntos].isnull().sum())

Valores faltantes restantes:
game_sequence    0
pts_qtr1_home    0
pts_qtr2_home    0
pts_qtr3_home    0
pts_qtr4_home    0
pts_ot1_home     0
pts_ot2_home     0
pts_ot3_home     0
pts_ot4_home     0
pts_ot5_home     0
pts_ot6_home     0
pts_ot7_home     0
pts_ot8_home     0
pts_ot9_home     0
pts_ot10_home    0
pts_qtr1_away    0
pts_qtr2_away    0
pts_qtr3_away    0
pts_qtr4_away    0
pts_ot1_away     0
pts_ot2_away     0
pts_ot3_away     0
pts_ot4_away     0
pts_ot5_away     0
pts_ot6_away     0
pts_ot7_away     0
pts_ot8_away     0
pts_ot9_away     0
pts_ot10_away    0
dtype: int64

In [46]:
# Ver las primeras 5 filas
print(df_line_score.head())

  game_date_est  game_sequence   game_id  team_id_home team_abbreviation_home  \
0    1946-11-01             -1  24600001    1610610035                    HUS
1    1946-11-02             -1  24600003    1610610034                    BOM
2    1946-11-02             -1  24600002    1610612738                    BOS
3    1946-11-02             -1  24600004    1610610025                    CHS
4    1946-11-02             -1  24600005    1610610036                    WAS

  team_city_name_home team_nickname_home team_wins_losses_home  pts_qtr1_home  \
0             Toronto            Huskies                     -              0
1           St. Louis            Bombers                     -             16
2              Boston            Celtics                     -             10
3             Chicago              Stags                     -              0
4          Washington           Capitols                     -             21

   pts_qtr2_home  ...  pts_ot2_away  pts_ot3_away  pts_ot4_away  pts_ot5_away  \
0              0  ...             0             0             0             0
1             16  ...             0             0             0             0
2             16  ...             0             0             0             0
3              0  ...             0             0             0             0
4              4  ...             0             0             0             0

   pts_ot6_away  pts_ot7_away  pts_ot8_away  pts_ot9_away  pts_ot10_away  \
0             0             0             0             0              0
1             0             0             0             0              0
2             0             0             0             0              0
3             0             0             0             0              0
4             0             0             0             0              0

   pts_away
0      68.0
1      51.0
2      59.0
3      47.0
4      33.0

[5 rows x 43 columns]

In [47]:
# Leer el archivo CSV other_stats
df_other_stats = pd.read_csv(r'C:\Users\PC\Documents\HENRY\MOD PROYECTO FINAL\base datos\csv\other_stats.csv')

# Ver las primeras 5 filas
print(df_other_stats.head())

    game_id  league_id  team_id_home team_abbreviation_home team_city_home  \
0  29600012          0    1610612756                    PHX        Phoenix
1  29600005          0    1610612737                    ATL        Atlanta
2  29600002          0    1610612739                    CLE      Cleveland
3  29600007          0    1610612754                    IND        Indiana
4  29600013          0    1610612746                    LAC    Los Angeles

   pts_paint_home  pts_2nd_chance_home  pts_fb_home  largest_lead_home  \
0              44                   18            2                  1
1              32                    9            6                  0
2              36                   14            6                 20
3              34                   11            4                 10
4              40                   19            2                 12

   lead_changes  ...  team_abbreviation_away  team_city_away  pts_paint_away  \
0             4  ...                     LAL     Los Angeles              42
1             0  ...                     MIA           Miami              32
2             1  ...                     NJN      New Jersey              26
3             7  ...                     DET         Detroit              30
4             5  ...                     GSW    Golden State              30

   pts_2nd_chance_away  pts_fb_away  largest_lead_away team_turnovers_away  \
0                   10           13                 19                 0.0
1                   15           14                 16                 1.0
2                   16            4                  2                 1.0
3                   14            7                  9                 2.0
4                    9            2                  6                 0.0

  total_turnovers_away  team_rebounds_away  pts_off_to_away
0                 23.0                11.0              NaN
1                 19.0                 6.0              NaN
2                 22.0                12.0              NaN
3                 19.0                10.0              NaN
4                 20.0                 7.0              NaN

[5 rows x 26 columns]

In [48]:
#Limpiar los nombres de columnas

df_other_stats.columns = df_other_stats.columns.str.strip().str.lower().str.replace(' ', '_')
print(df_other_stats.columns)

Index(['game_id', 'league_id', 'team_id_home', 'team_abbreviation_home',
       'team_city_home', 'pts_paint_home', 'pts_2nd_chance_home',
       'pts_fb_home', 'largest_lead_home', 'lead_changes', 'times_tied',
       'team_turnovers_home', 'total_turnovers_home', 'team_rebounds_home',
       'pts_off_to_home', 'team_id_away', 'team_abbreviation_away',
       'team_city_away', 'pts_paint_away', 'pts_2nd_chance_away',
       'pts_fb_away', 'largest_lead_away', 'team_turnovers_away',
       'total_turnovers_away', 'team_rebounds_away', 'pts_off_to_away'],
      dtype='object')

In [49]:
#Ver si hay valores faltantes

print(df_other_stats.isnull().sum())

game_id                      0
league_id                    0
team_id_home                 0
team_abbreviation_home       0
team_city_home               0
pts_paint_home               0
pts_2nd_chance_home          0
pts_fb_home                  0
largest_lead_home            0
lead_changes                 0
times_tied                   0
team_turnovers_home          2
total_turnovers_home       316
team_rebounds_home        1998
pts_off_to_home           2123
team_id_away                 0
team_abbreviation_away       0
team_city_away               0
pts_paint_away               0
pts_2nd_chance_away          0
pts_fb_away                  0
largest_lead_away            0
team_turnovers_away          2
total_turnovers_away       316
team_rebounds_away        1998
pts_off_to_away           2123
dtype: int64

In [50]:
print(df_other_stats.dtypes)

game_id                     int64
league_id                   int64
team_id_home                int64
team_abbreviation_home     object
team_city_home             object
pts_paint_home              int64
pts_2nd_chance_home         int64
pts_fb_home                 int64
largest_lead_home           int64
lead_changes                int64
times_tied                  int64
team_turnovers_home       float64
total_turnovers_home      float64
team_rebounds_home        float64
pts_off_to_home           float64
team_id_away                int64
team_abbreviation_away     object
team_city_away             object
pts_paint_away              int64
pts_2nd_chance_away         int64
pts_fb_away                 int64
largest_lead_away           int64
team_turnovers_away       float64
total_turnovers_away      float64
team_rebounds_away        float64
pts_off_to_away           float64
dtype: object

In [51]:
#Convertir columnas clave al tipo correcto

df_other_stats['team_id_home'] = df_other_stats['team_id_home'].astype('Int64')

In [52]:
# Ver las primeras 5 filas

print(df_other_stats.head())

    game_id  league_id  team_id_home team_abbreviation_home team_city_home  \
0  29600012          0    1610612756                    PHX        Phoenix
1  29600005          0    1610612737                    ATL        Atlanta
2  29600002          0    1610612739                    CLE      Cleveland
3  29600007          0    1610612754                    IND        Indiana
4  29600013          0    1610612746                    LAC    Los Angeles

   pts_paint_home  pts_2nd_chance_home  pts_fb_home  largest_lead_home  \
0              44                   18            2                  1
1              32                    9            6                  0
2              36                   14            6                 20
3              34                   11            4                 10
4              40                   19            2                 12

   lead_changes  ...  team_abbreviation_away  team_city_away  pts_paint_away  \
0             4  ...                     LAL     Los Angeles              42
1             0  ...                     MIA           Miami              32
2             1  ...                     NJN      New Jersey              26
3             7  ...                     DET         Detroit              30
4             5  ...                     GSW    Golden State              30

   pts_2nd_chance_away  pts_fb_away  largest_lead_away team_turnovers_away  \
0                   10           13                 19                 0.0
1                   15           14                 16                 1.0
2                   16            4                  2                 1.0
3                   14            7                  9                 2.0
4                    9            2                  6                 0.0

  total_turnovers_away  team_rebounds_away  pts_off_to_away
0                 23.0                11.0              NaN
1                 19.0                 6.0              NaN
2                 22.0                12.0              NaN
3                 19.0                10.0              NaN
4                 20.0                 7.0              NaN

[5 rows x 26 columns]

In [53]:
# Verificación de duplicados

duplicados = df_other_stats.duplicated()
print(f'Filas duplicadas: {duplicados.sum()}')

Filas duplicadas: 10

In [54]:
# Ver si hay duplicados por columna clave (ej: game_id)

duplicados_game_id = df_other_stats.duplicated(subset='game_id')
print(f"Duplicados por game_id: {duplicados_game_id.sum()}")

Duplicados por game_id: 10

In [55]:
# Eliminar duplicados exactos en todas las columnas

df_other_stats = df_other_stats.drop_duplicates()

In [56]:
print("Después de eliminar duplicados:")
print(df_other_stats.duplicated().sum())

Después de eliminar duplicados:
0

In [57]:
#Ver porcentaje de valores faltantes por columna
porcentaje_nulos = (df_other_stats.isnull().mean() * 100).round(2)
print(porcentaje_nulos)

game_id                   0.00
league_id                 0.00
team_id_home              0.00
team_abbreviation_home    0.00
team_city_home            0.00
pts_paint_home            0.00
pts_2nd_chance_home       0.00
pts_fb_home               0.00
largest_lead_home         0.00
lead_changes              0.00
times_tied                0.00
team_turnovers_home       0.00
total_turnovers_home      1.11
team_rebounds_home        7.07
pts_off_to_home           7.51
team_id_away              0.00
team_abbreviation_away    0.00
team_city_away            0.00
pts_paint_away            0.00
pts_2nd_chance_away       0.00
pts_fb_away               0.00
largest_lead_away         0.00
team_turnovers_away       0.00
total_turnovers_away      1.11
team_rebounds_away        7.07
pts_off_to_away           7.51
dtype: float64

In [58]:
#Ver solo las columnas que tienen valores faltantes

faltantes = df_other_stats.isnull().sum()
faltantes = faltantes[faltantes > 0]
print(faltantes)

team_turnovers_home        1
total_turnovers_home     315
team_rebounds_home      1997
pts_off_to_home         2122
team_turnovers_away        1
total_turnovers_away     315
team_rebounds_away      1997
pts_off_to_away         2122
dtype: int64

In [59]:
#tratamiento de valores faltantes


# Rellenar team_turnovers con 0 (muy pocos faltantes)
df_other_stats['team_turnovers_home'] = df_other_stats['team_turnovers_home'].fillna(0).astype('Int64')
df_other_stats['team_turnovers_away'] = df_other_stats['team_turnovers_away'].fillna(0).astype('Int64')

# Rellenar total_turnovers con la mediana
df_other_stats['total_turnovers_home'] = df_other_stats['total_turnovers_home'].fillna(
    df_other_stats['total_turnovers_home'].median()).astype('Int64')

df_other_stats['total_turnovers_away'] = df_other_stats['total_turnovers_away'].fillna(
    df_other_stats['total_turnovers_away'].median()).astype('Int64')

# Rellenar team_rebounds con la mediana
df_other_stats['team_rebounds_home'] = df_other_stats['team_rebounds_home'].fillna(
    df_other_stats['team_rebounds_home'].median()).astype('Int64')

df_other_stats['team_rebounds_away'] = df_other_stats['team_rebounds_away'].fillna(
    df_other_stats['team_rebounds_away'].median()).astype('Int64')

# Rellenar pts_off_to (puntos por pérdidas) con 0
df_other_stats['pts_off_to_home'] = df_other_stats['pts_off_to_home'].fillna(0).astype('Int64')
df_other_stats['pts_off_to_away'] = df_other_stats['pts_off_to_away'].fillna(0).astype('Int64')

# Verificar si quedan valores faltantes
print("Valores faltantes restantes:")
print(df_other_stats[['team_turnovers_home', 'total_turnovers_home', 'team_rebounds_home', 'pts_off_to_home',
                      'team_turnovers_away', 'total_turnovers_away', 'team_rebounds_away', 'pts_off_to_away']].isnull().sum())

Valores faltantes restantes:
team_turnovers_home     0
total_turnovers_home    0
team_rebounds_home      0
pts_off_to_home         0
team_turnovers_away     0
total_turnovers_away    0
team_rebounds_away      0
pts_off_to_away         0
dtype: int64

In [60]:
# Ver las primeras 5 filas
print(df_other_stats.head())

    game_id  league_id  team_id_home team_abbreviation_home team_city_home  \
0  29600012          0    1610612756                    PHX        Phoenix
1  29600005          0    1610612737                    ATL        Atlanta
2  29600002          0    1610612739                    CLE      Cleveland
3  29600007          0    1610612754                    IND        Indiana
4  29600013          0    1610612746                    LAC    Los Angeles

   pts_paint_home  pts_2nd_chance_home  pts_fb_home  largest_lead_home  \
0              44                   18            2                  1
1              32                    9            6                  0
2              36                   14            6                 20
3              34                   11            4                 10
4              40                   19            2                 12

   lead_changes  ...  team_abbreviation_away  team_city_away  pts_paint_away  \
0             4  ...                     LAL     Los Angeles              42
1             0  ...                     MIA           Miami              32
2             1  ...                     NJN      New Jersey              26
3             7  ...                     DET         Detroit              30
4             5  ...                     GSW    Golden State              30

   pts_2nd_chance_away  pts_fb_away  largest_lead_away team_turnovers_away  \
0                   10           13                 19                   0
1                   15           14                 16                   1
2                   16            4                  2                   1
3                   14            7                  9                   2
4                    9            2                  6                   0

  total_turnovers_away  team_rebounds_away  pts_off_to_away
0                   23                  11                0
1                   19                   6                0
2                   22                  12                0
3                   19                  10                0
4                   20                   7                0

[5 rows x 26 columns]

In [61]:
# Leer el archivo CSV game_info
df_game_info = pd.read_csv(r'C:\Users\PC\Documents\HENRY\MOD PROYECTO FINAL\base datos\csv\game_info.csv')

# Ver las primeras 5 filas
print(df_game_info.head())

    game_id            game_date  attendance game_time
0  24600001  1946-11-01 00:00:00         NaN       NaN
1  24600003  1946-11-02 00:00:00         NaN       NaN
2  24600002  1946-11-02 00:00:00         NaN       NaN
3  24600004  1946-11-02 00:00:00         NaN       NaN
4  24600005  1946-11-02 00:00:00         NaN       NaN

In [63]:
#Limpiar los nombres de columnas

df_game_info.columns = df_game_info.columns.str.strip().str.lower().str.replace(' ', '_')
print(df_game_info.columns)

Index(['game_id', 'game_date', 'attendance', 'game_time'], dtype='object')

In [64]:
#Ver si hay valores faltantes

print(df_game_info.isnull().sum())

game_id           0
game_date         0
attendance     5380
game_time     28111
dtype: int64

In [65]:
print(df_game_info.dtypes)

game_id         int64
game_date      object
attendance    float64
game_time      object
dtype: object

In [75]:
#Convertir columnas clave al tipo correcto

df_game_info['game_date'] = pd.to_datetime(df_game_info['game_date'])

In [76]:
print(df_game_info.dtypes)

game_id                int64
game_date     datetime64[ns]
attendance           float64
dtype: object

In [77]:
# Ver las primeras 5 filas
print(df_game_info.head())

    game_id  game_date  attendance
0  24600001 1946-11-01         NaN
1  24600003 1946-11-02         NaN
2  24600002 1946-11-02         NaN
3  24600004 1946-11-02         NaN
4  24600005 1946-11-02         NaN

In [79]:
# Verificación de duplicados
duplicados = df_game_info.duplicated()
print(f'Filas duplicadas: {duplicados.sum()}')

Filas duplicadas: 40

In [80]:
# Ver si hay duplicados por columna clave (ej: game_id)
duplicados_game_id = df_game_info.duplicated(subset='game_id')
print(f"Duplicados por game_id: {duplicados_game_id.sum()}")

Duplicados por game_id: 40

In [81]:
# Eliminar duplicados exactos en todas las columnas
df_game_info = df_game_info.drop_duplicates()

In [82]:
print("Después de eliminar duplicados:")
print(df_game_info.duplicated().sum())

Después de eliminar duplicados:
0

In [83]:
#Ver porcentaje de valores faltantes por columna
porcentaje_nulos = (df_game_info.isnull().mean() * 100).round(2)
print(porcentaje_nulos)

game_id       0.00
game_date     0.00
attendance    9.22
dtype: float64

In [84]:
#Ver solo las columnas que tienen valores faltantes

faltantes = df_game_info.isnull().sum()
faltantes = faltantes[faltantes > 0]
print(faltantes)

attendance    5350
dtype: int64

In [86]:
#TRATAR VALORES FALTANTES

mediana = df_game_info['attendance'].median()
df_game_info.loc[:, 'attendance'] = df_game_info['attendance'].fillna(mediana)

In [87]:
# Ver las primeras 5 filas
print(df_game_info.head())

    game_id  game_date  attendance
0  24600001 1946-11-01     16205.0
1  24600003 1946-11-02     16205.0
2  24600002 1946-11-02     16205.0
3  24600004 1946-11-02     16205.0
4  24600005 1946-11-02     16205.0

# CREACION DE FACT_PARTIDOS

In [91]:
#Columnas seleccionadas de cada tabla:

# game
cols_game = [
    'game_id', 'game_date','season_id','season_type','team_id_home', 'team_id_away', 'wl_home', 'pts_home',
    'fgm_home', 'fga_home', 'fg_pct_home', 'fg3m_home', 'fg3a_home', 'fg3_pct_home',
    'ftm_home', 'fta_home', 'ft_pct_home', 'oreb_home', 'dreb_home', 'reb_home',
    'ast_home', 'stl_home', 'blk_home', 'tov_home', 'pf_home', 'plus_minus_home',
    'wl_away', 'pts_away', 'fgm_away', 'fga_away', 'fg_pct_away', 'fg3m_away',
    'fg3a_away', 'fg3_pct_away', 'ftm_away', 'fta_away', 'ft_pct_away', 'oreb_away',
    'dreb_away', 'reb_away', 'ast_away', 'stl_away', 'blk_away', 'tov_away',
    'pf_away', 'plus_minus_away'
]

# line_score
cols_line_score = [
    'game_id', 'pts_qtr1_home', 'pts_qtr2_home', 'pts_qtr3_home', 'pts_qtr4_home',
    'pts_ot1_home', 'pts_ot2_home', 'pts_ot3_home', 'pts_ot4_home', 'pts_ot5_home',
    'pts_ot6_home', 'pts_ot7_home', 'pts_ot8_home', 'pts_ot9_home', 'pts_ot10_home','pts_home',
    'pts_qtr1_away', 'pts_qtr2_away', 'pts_qtr3_away', 'pts_qtr4_away',
    'pts_ot1_away', 'pts_ot2_away', 'pts_ot3_away', 'pts_ot4_away', 'pts_ot5_away',
    'pts_ot6_away', 'pts_ot7_away', 'pts_ot8_away', 'pts_ot9_away', 'pts_ot10_away','pts_away'
]

# other_stats
cols_other_stats = [
    'game_id', 'pts_paint_home', 'pts_2nd_chance_home', 'pts_fb_home', 'largest_lead_home',
    'lead_changes', 'times_tied', 'team_turnovers_home', 'total_turnovers_home',
    'team_rebounds_home', 'pts_off_to_home',
    'pts_paint_away', 'pts_2nd_chance_away', 'pts_fb_away', 'largest_lead_away',
    'team_turnovers_away', 'total_turnovers_away', 'team_rebounds_away', 'pts_off_to_away'
]

# game_info
cols_game_info = ['game_id', 'game_date','attendance']

# game_summary
cols_game_summary = [
    'game_id', 'game_date_est', 'game_sequence', 'game_status_id', 'game_status_text',
    'season', 'home_team_id', 'visitor_team_id', 'live_period', 'live_pc_time'
]

#Filtramos solo las columnas necesarias
df_game = df_game[cols_game]
df_line_score = df_line_score[cols_line_score]
df_other_stats = df_other_stats[cols_other_stats]
df_game_info = df_game_info[cols_game_info]
df_game_summary = df_game_summary[cols_game_summary]

# Unimos todo paso a paso usando game_id como clave

# Base
df_fact_partidos = df_game.copy()

# Merge con line_score
df_fact_partidos = df_fact_partidos.merge(df_line_score, on='game_id', how='left')

# Merge con other_stats
df_fact_partidos = df_fact_partidos.merge(df_other_stats, on='game_id', how='left')

# Merge con game_info
df_fact_partidos = df_fact_partidos.merge(df_game_info, on='game_id', how='left')

# Merge con game_summary
df_fact_partidos = df_fact_partidos.merge(df_game_summary, on='game_id', how='left')

# Mostrar una muestra final
print(df_fact_partidos.head())

    game_id game_date_x  season_id     season_type  team_id_home  \
0  24600001  1946-11-01      21946  Regular Season    1610610035
1  24600003  1946-11-02      21946  Regular Season    1610610034
2  24600002  1946-11-02      21946  Regular Season    1610610032
3  24600004  1946-11-02      21946  Regular Season    1610610025
4  24600005  1946-11-02      21946  Regular Season    1610610028

   team_id_away wl_home  pts_home_x  fgm_home  fga_home  ...  attendance  \
0    1610612752       L        66.0      25.0       0.0  ...     16205.0
1    1610610031       W        56.0      20.0      59.0  ...     16205.0
2    1610612738       W        59.0      21.0       0.0  ...     16205.0
3    1610612752       W        63.0      21.0       0.0  ...     16205.0
4    1610610036       L        33.0      10.0       0.0  ...     16205.0

   game_date_est  game_sequence  game_status_id  game_status_text  season  \
0     1946-11-01           -1.0             3.0       Desconocido  1946.0
1     1946-11-02           -1.0             3.0       Desconocido  1946.0
2     1946-11-02           -1.0             3.0       Desconocido  1946.0
3     1946-11-02           -1.0             3.0       Desconocido  1946.0
4     1946-11-02           -1.0             3.0       Desconocido  1946.0

   home_team_id  visitor_team_id  live_period  live_pc_time
0    1610610035       1610612752          5.0         00:00
1    1610610034       1610610031          4.0         00:00
2    1610610032       1610612738          4.0         00:00
3    1610610025       1610612752          4.0         00:00
4    1610610028       1610610036          4.0         00:00

[5 rows x 105 columns]

In [93]:
%whos DataFrame

Variable           Type         Data/Info
-----------------------------------------
df_fact_partidos   DataFrame    Shape: (65748, 105)
df_game            DataFrame    Shape: (65698, 46)
df_game_info       DataFrame    Shape: (58013, 3)
df_game_summary    DataFrame    Shape: (58070, 10)
df_line_score      DataFrame    Shape: (58013, 31)
df_other_stats     DataFrame    Shape: (28261, 19)

In [94]:
#puedes guardar el archivo como .csv

df_fact_partidos.to_csv("fact_partidos.csv", index=False)